<!-- Loop over each object in the blogs array -->

<div class="row mb-4 blog">
  <h1 class="app-title">
        <a href="/">Tech Blog</a>
  </h1>
  <div class="col-md-6">
    <div class="card flex-md-row mb-4 box-shadow h-md-250">
      {{#each blogs as |blog| }}
          <h2 class="mb-0">
            <!-- Call helper function with triple brackets to render the emoji span as HTML -->
            <a class="text-dark" href="/blog/{{id}}">{{name}}</a>
          </h2>
          <a class="mb-1 text-muted" href="{{format_date blog.date_created}}"></div>
          <p class="card-text mb-auto">
              {{blog.description}}
            </p>
          </div>
      {{/each}}
    </div>
  </div>
</div>