<!-- Blog page -->
<div role="main" class="container">
    <div class="row">
      <div class="col-md-8 blog-main">
        <div class="blog-post">
          <h2 class="blog-post-title">{{name}}</h2>
          <p class="blog-post-meta">Written by {{user.name}} on {{format_date createdAt}}</p>
          <p>
            {{description}}
          </p>
        </div>
      </div>
    </div>
</div>

<!-- Comment Modal Button - Must be logged in -->
      <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#myModal"> 
        Leave Comment
      </button>
<!-- Comment Modal -->
{{#if logged_in}}
  <form class="modal fade new-comment-form" id="myModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="myModalLabel">Leave a Comment</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
          </button> 
        </div>
          <input type="text" class="modal-body form-input" id="comment-desc" name="comment-desc">
          </input>
        <div class="modal-footer">
          <button type="submit" class="btn btn-secondary" data-bs-dismiss="modal">
            Post
          </button>
        </div>
      </div>
    </div>
  </form>
{{/if}}

    {{>comments-partials}}

{{#if logged_in}}
<script src="/js/blog.js"></script>
{{/if}}
      