<div class="row">
  <div class="col-auto">
    <h2>Welcome, {{name}}!</h2>
  </div>
</div>

<div class="row mt-4 card">
  <div class="col-md-6 card-header">
    <h3>Create a New Blog:</h3>

    <form class="list-group card-body">
      <div class="form-group">
        <label for="blog-name">blog name:</label>
        <input class="form-input" type="text" id="blog-name" name="blog-name" />
      </div>
      <div class="list-group">
        <label for="blog-desc">description:</label>
        <textarea class="form-input" id="blog-desc" name="blog-desc"></textarea>
      </div>
      <div class="list-group">
        <button type="submit" class="btn btn-primary">Create</button>
      </div>
    </form>
  </div>

  {{#if blogs.length}}
  <div class="col-md-6 card">
    <h3>Current blogs:</h3>

    {{#each blogs as |blog|}}
    <div class="row mb-2">
      <div class="col-md-8">
        <h4><a href="/blog/{{blog.id}}">{{blog.name}}</a></h4>
      </div>
      <div class="col-md-4">
        <button class="btn btn-sm btn-danger" data-id="{{blog.id}}">DELETE</button>
      </div>
    </div>
    {{/each}}
  </div>
  {{/if}}
</div>

<script src="./js/dashboard.js"></script>








{{!-- <div class="text-center">
  <h2>name</h2>
  <p>get_emoji</p>
  <p>description</p>
  <p>Created by user.name on date_created</p>
  <p>
    <span for="img" aria-label="money">💲</span>
    <span class="dollar-amount"></span>
    needed
  </p>
  <p>
    <button class="btn btn-primary">Fund this Blog!</button>
  </p>
</div> --}}
